

<div class="ng ">
<h1 align="center">Welcome Home </h1>
<div> <h1><a href="/agents" > You can clic on  Employes </a></h1></div>
<div><br></div>
<div><br></div>
<div><br></div>


<div ><h1><a href="/customers" >Or on  Clients </a></h1></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div> <h1><a href="/contrats"> Maybe you prefer  Contrats </a></h1></div>
<div><br></div>
<div><br></div>

<div><br></div>
<div> <h1><a href="/agences"> Or Even on  Agences </a></h1></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>


</div>